@media screen and (max-width:600px){
    #SName{
        display: none;
    }
}

body{
    background-color: rgb(243, 242, 241);
}
*{
    padding: 0;
    margin: 0;
}
nav{
     font-family:"Lato"
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 64px;
    background-color: black;
    color: azure;
}
#brandimg {
    width: 49px;

}
.name{
    padding: 0 8px;
    align-items: center;
    font-family: "varela Round";
    color: rgb(10, 201, 10);
    font-weight: bolder;
    font-size: 1.3rem;
}
.time{
    margin-left: 32px;
}
.navb{
    padding: 0 12px;
    align-items: center;
}
.brand{
    display: flex;
    padding: 0 12px;
    align-items: center;
}
.header{
    font-family: "Moimagesntserrat";
}
.container{
    min-height: 60vh;
    background-color: aquamarine;
    color: white;
    margin: 9px auto;
    display: flex;
    width:70%;
    border-radius: 9px;
    padding: 35px;
    background-size: cover;
    background-image: url("sensei.jpg");
    
}
#pBar{
width: 80vw;

cursor: pointer;
}

.songList{
    display: flex;
    flex-direction: column;

}
.songItem {
background-color: black;
display: flex;
color: white;
justify-content: space-around;
border-radius: 33px;
margin-top: 10px;
align-items: center;
}
.songItem img{
    width:50px;
    border-radius: 34px;
}
.bottom{
    position: fixed;
    height: 87px;
    background-color: black;
    width: 100vw;
    align-items: center;
    display: flex;
     align-items: center; 
    justify-content: center;
flex-direction: column;
    color: white;
}
.buttons{
    cursor: pointer;
}
.infoSong img{
    width: 87px;
 opacity: 0;
 transition: opacity 0.9s ease-in;
 right: -25px;
}
.infoSong{
    margin-top: 44px;
    position: absolute;
    left: 126px;
    margin-bottom: 12px;
    /* font-size: 1.5rem;
    height: 120px; */
  /* transform: translateY(44px); */

}
.inf {
    margin-top: 8px;
    position: absolute;
    right: -25px;
    margin-bottom: 68px; 
  
}
.inf img{
    width: 146px;
    opacity: 0;
    transition: opacity 2.0s ease-in;
    right: -25px;
  }
.fa-solid{
    padding: 0 10px;
}